/* 把所有标签内外边距清零 */
* {
    margin: 0;
    padding: 0
}
/* 斜体的文字不倾斜 */
em,
i {
    font-style: normal
}
/* 去掉li小圆点 */
li {
    list-style: none
}
img {
    /* border: 0照顾低版本浏览器，如果图片外面包含了链接会有边框问题     */
    border: 0;
    /* 取消图片底侧有空白间隙的问题 */
    vertical-align: middle
}
html{
    font-size: 16px;
}
body {
    /* 抗锯齿 */
    -webkit-font-smoothing: antialiased;
    background-color: #eeeeee;
    margin: 0 auto;
    
}
a{
    text-decoration: none;
    color: black;
}
/* 清除浮动 */
.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}
.clearfix {
    *zoom: 1
}
@font-face {
    font-family: 'Alimama';
    src: url('../font/AlimamaShuHeiTi-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Regular';
    src: url('../font/cb3W6wPIqQ37.woff') format('truetype');
}
@font-face {
    font-family: 'Thin';
    src: url('../font/cniIIYIKf8EY.woff') format('truetype');
}
.header {
    width: 100%;
    padding-top: 1.05rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
}

.header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 87.5rem;
    width: 100%;
    margin-left: 4.375rem;
    margin-right: 3.75rem;
}

.header .nav ul {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header .nav .ul1 li a {
    position: relative;
    display: inline-block;
    margin-right: 1.25rem;
    padding: 0.5rem 0.75rem;
    z-index: 1000;
}

.header .nav .ul1 {
    margin-right: 4.375rem;
}

.header .nav .ul2 li a {
    width: 4.8375rem;
    position: relative;
    display: inline-block;
    margin-right: 1.25rem;
    padding: 0.5rem 0.75rem;
    z-index: 1000;
    color: black;
}

.header .nav .ul1 li a::after {
    content: "";
    width: 0;
    height: 0.125rem;
    position: absolute;
    bottom: 0;
    background-color: #FF3344;
    left: 0;
    transition: width 0.7s;
}

.header .nav li a:hover::after {
    width: 100%;
}

.kk {
    color: #FAFAFA;
    background-color: #1570EF;
    border-radius: 2.5rem;
}
  .header .nav i {
      width: 9.125rem;
      height: 3.25rem;
      background: url('../image/logo.png') no-repeat center / contain; 
  }
  .box8 {
    height: 15rem;
    width: 100%;
    background-color: #fff;
    position: relative;
}

.box8logo {
    width: 17.5rem;
    height: 4.375rem;
    background-image: url("../image/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 1.5rem;
    left: 8.125rem;
}

.box8dh {
    width: 8.625rem;
    height: 8.625rem;
    position: absolute;
    top: 4.3125rem;
    left: 10rem;
}

.box8lj {
    position: absolute;
    width: 31.25rem;
    height: 11.25rem;
    display: flex;
    right: 13.75rem;
    top: 1.5rem;
    justify-content: space-between;
    font-size: 1.375rem;
}

.box8lj dl dd {
    margin-top: 1.25rem;
    font-size: 1.125rem;
}
.box2{
    background-color: rgb(244 247 250 );
    height: 44rem;
    position: relative;
    background-image:url("../image/shape-12.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
}
.box2 .img1 {
    width: 200px;
    height: 100px;
    position: absolute;
    right: 100px;
}
.box2 .img2 {
    width: 200px;
    height: 100px;
    position: absolute;
    left:100px;
    bottom: 20px;
}
.box2 p:first-of-type {
    position: absolute;
    font-family: "Alimama";
    font-size: 1.875rem;
    top: 1.875rem;
    left:50%;
    margin-left: -9.375rem;
}
.box2 p:nth-of-type(2){
    position: absolute;
    width: 59.375rem;
    text-indent: 2em;
    word-break: break-all;
    top: 6.25rem;
    font-size: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
}
.box2imgflex{
    position: absolute;
    width: 62.5rem;
    display: flex;
    height: 9.375rem;
    justify-content: space-between;
    left: 50%;
    bottom: 1.25rem;
    transform: translateX(-50%);
}
.box2imgflex i {
    display: block;
    width: 12.5rem;
    background-size: cover;
}